.purchases-table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.purchases-table table {
  border-radius: 10px;
  width: 520px;
  outline: 3px solid var(--gray-100);
}

.purchases-table tbody {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  height: 250px;
  width: 100%;
}

.purchases-table thead {
  display: block;
  width: 100%;
  background-color: var(--gray-300);
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.purchases-table tr {
  width: auto;
}

.purchases-table tbody tr:not(.new-purchase-row):hover {
  transition: all ease-in 100ms;
  background-color: var(--button-background);
  color: white;
}

.purchases-table th,
.purchases-table td {
  padding: 5px 10px;
}

.purchases-table td:nth-child(1),
.purchases-table th:nth-child(1) {
  width: 100px;
}

.purchases-table td:nth-child(2),
.purchases-table th:nth-child(2) {
  width: 150px;
}

.purchases-table td:nth-child(3),
.purchases-table th:nth-child(3) {
  width: 170px;
}

.purchases-table td:nth-child(4) {
  width: 85px;
}

.purchases-table th:nth-child(4) {
  width: 100px;
}

.purchases-table td:nth-child(4) {
  text-align: center;
}

.purchases-table table > ::-webkit-scrollbar {
  width: 10px;
}

.purchases-table table > ::-webkit-scrollbar-thumb {
  width: 10px;
}

.purchases-table img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 5%;
}

.new-purchase-row input,
.new-purchase-row select {
  width: 100%;
  border: none;
  background-color: transparent;
}

.new-purchase-row .price-input:focus,
.new-purchase-row .date-input:focus {
  outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.new-purchase-row .date-input {
  color: #757575;
}

.big-button.new-purchase-create {
  height: 20%;
  margin: 0 auto;
  padding: 5px 0;
}

.big-button.new-purchase-save,
.big-button.new-purchase-cancel {
  width: 20%;
  padding: 5px 0;
}