@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@500&display=swap');
@import './components/create-button/CreateButton.css';
@import './components/list-group/ListGroup.css';
@import './components/search-bar/SearchBar.css';
@import 'bootstrap/dist/css/bootstrap.css';

* {
  font-family: 'Sofia Sans Semi Condensed';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-100: #5b5b5b;
  --gray-200: #868686;
  --gray-300: #b5b5b5;
  --gray-400: #d9d9d9;

  --button-background: #22b275;
  --button-border: #1d9663;
}
